---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .logo {
    width: 150px;
    height: 100px;
    margin: 0 auto 50px auto;
    box-shadow: inset 0 -30px 0 #110d47, inset 0 0 20px #5d5d5d, inset 0 10px 5px white, 0 3px 5px black, 0 0 50px #cacaca;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #110d47;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;

  }

  .logo::before {
    content: '</i>';
    font-size: 42px;
    font-weight: 700;
    color: #110d47; 
    transition: all 1s ease-in;
    animation: logoBefore;
    animation-duration: 1s;
    margin-top: -30px;
  }

  .logo::after {
    position: absolute;
    content: 'Izveide.lv';
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    font-size: 18px;
    line-height: 1;
    color: white;
    transition: all 1s ease-in;
    animation: logoAfter;
    animation-duration: 1s;
    bottom: 4px;

 }

 .logo:hover::after {
     transform: translateX(-300%);
 }

 .logo:hover::before {
        transform: translateX(200%);
 }

 @keyframes logoAfter {
   from {
     transform: translateX(-300%);
   }
   to {
     transform: translateX(-50%);
   }
 }

  @keyframes logoBefore {
   from {
     transform: translateX(200%);
   }
   to {
     transform: translateX(0);
   }
 }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 4vh;
  }


</style>
<header class="tdbc-hero">
  <div class="tdbc-container">
    <span class="logo">
    </span>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-sm tdbc-mx-auto">
      {{ meta.siteDescription }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card tdbc-card__link">
        <a href="{{ page.url }}" class="tdbc-card__content">
          <span class="tdbc-card__title">{{ page.data.title }}</span>
          <p>{{ page.data.description }}</p>
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <style>
  
  </style>

<h2 id="quickstart" class="tdbc-h3 tdbc-mt-lg">Kas ir nepieciešams, lai sāktu programmēt?</h2>

1. Koda redaktors, kurā tiks veikta programmēšana. Iesaku [Visual Studio Code](https://code.visualstudio.com).

2. Kā jau visām apgūstamām lietām, vēlme mācīties un pacietība, ja nu kas nesanāks ar pirmo reizi.


<h3 class="tdbc-h4">Par šo vietni</h3>

Lapa ir rakstīta vienkāršā valodā un atsevišķi skaidrojumi zinātāju acīs var būt neprecīzi vai pārāk vispārināti. 
Lapas mērķis ir palīdzēt tiem, kas sper pirmos soļus programmēšanas pasaulē un vēlas gūt ieskatu pašos pamatos.

Lapas autors ir <a href="http://armn.me">Armands Leimanis</a>.


{{ content | safe }}

</main>
